{% extends 'importDB/base.html' %}
{% load static %}
{% block content %}
{% load plotly_dash %}
{% load humanize %}




<div class="container-fluid">
    <div class="row"  >
      <div class=" col-lg-7 col-sm-12 ml-5 mb-3 card pretty_container " style="width:100%;"> 
        <h5 class = "subtitle mt-3 mb-0"> &nbsp;Sum of Publication per Year</h5> 
          {{ line_chart_publication | safe }}
      </div>
      <div class=" col-lg-4 col-sm-12 mx-4 mb-3 " style="width:100%;">            
        <div class="row mb-3 " >
          <div class="card pretty_container" style="position: relative;width: 100%;height: 15rem;">
            <h5 class = "subtitle mt-3 mb-3 ml-3">&nbsp;Total Publications </h5> 
            <div class="card-body text-primary" style="text-align: center; font-size: 400%" >
              {{ total_publication |intcomma }}
            </div>
          </div>
        </div>
        <div class="row " >
          <div class="card pretty_container" style="position: relative;width: 100%;height: 15rem;">
            <h5 class = "subtitle mt-3 ml-3">&nbsp; H-index </h5> 
            <div class="card-body text-success" style="text-align: center; font-size: 400%" >
              {{ h_index |intcomma }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class=" col-lg-7 col-sm-12 ml-5 mb-3 card pretty_container " style="width: 100%"> 
        <h5 class = "subtitle mt-3 mb-0"> &nbsp;Sum of Times Cited per Year</h5>       
          {{ line_chart_cited | safe }}
      </div>
      <div class=" col-lg-4 col-sm-12 mx-4 mb-3">            
        <div class="row mb-3" >
          <div class="card pretty_container" style="position: relative;width: 100%;height: 10rem;">
            <h5 class = "subtitle mt-3 mx-4 ml-3">&nbsp; Sum of Times Cited </h5> 
            <div class="card-body h2 text-info " >
               {{sum_cited|intcomma}}
            </div>
          </div>
        </div>
        <div class="row mb-3" >
          <div class="card pretty_container" style="position: relative;width: 100%;height: 10rem;">
            <h5 class = "subtitle mt-3 mb-3 mx-4">&nbsp; Average Citations per Item </h5> 
            <div class="card-body h2 text-info" >
              {{avg_per_items |floatformat:2|intcomma}}
            </div>
          </div>
        </div>
        <div class="row " >
          <div class="card pretty_container" style="position: relative;width: 100%;height: 10rem;">
            <h5 class = "subtitle mt-3 mb-3 mx-4">&nbsp; Average Citations per Year </h5> 
            <div class="card-body h2 text-info" >
              {{avg_per_year |floatformat:2|intcomma}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"  >
      <div class=" col-lg-7 col-sm-12 ml-5 mb-3 card pretty_container" style="width:100%;"> 
        <h5 class = "subtitle mt-3 mb-0"> &nbsp;Web of Science Catagories </h5>    
        &nbsp;&nbsp;
          <select id="option" name="option" class="form-control ex2" style=" width:20%; " >
                <option value="bar_chart" selected><b>Bar Chart</b></option>
                <option value="tree_map"><b>Tree Map</b></option>
          </select>
          <span id="bar" name = 'bar'>
            {{ bar_chart | safe }}
          </span>
          <span id="tree" name = 'tree'>
            {{ tree_map | safe }}
          </span>
      </div>
      <div class=" col-lg-4 col-sm-12 mx-4 mb-3 card pretty_container" style="width:100%;">            
        <h5 class = "subtitle mt-3 mb-0">&nbsp; test </h5> 
        
      </div>
    </div>
</div>


{% endblock content %}

{% block js %}
<script>
$(document).ready( function () {
  $('#tree').hide();
} );

$('select').on('change', function() {
  var value = $(this).val();
  
  if (value == "bar_chart") {
     $('#bar').show();
     $('#tree').hide();
  } else if (value == "tree_map") {
    $('#tree').show();
     $('#bar').hide();
  }
});
</script>

{% endblock js %}
