{% extends 'importDB/base_2.html' %}
{% load static %}
{% block content %}
{% load plotly_dash %}
{% load humanize %}




<div class="container-fluid">
  <div class="row"  >
    <div class="col-lg-7 ml-5 mb-1  "  >
    </div>
    <div class="col-lg-4 ml-4 mb-1  "  style="font-size:15px;" align="right">
      Last updated: {{date}}
    </div>
  </div>
  <div class="row "  >
    <div class=" col-lg  mx-3 mb-3 card pretty_container " style="width:100%;">
      <h5 class = "subtitle mt-3 mb-0"> &nbsp;Comparison of Scopus Publications per Year </h5>
        
        {{ line_sco | safe }}
      
    </div>
  </div>
  <div class="row"  >
    
    <div class=" col-lg mx-3 mb-3 card pretty_container " style="width:100%;">
      <h5 class = "subtitle mt-3 mb-0"> &nbsp;Comparison of ISI-WoS Publications per Year </h5>
      
        {{ line_isi | safe }}
      
    </div>
  </div>
  <div class="row"  >
    <div class=" col-lg  mx-3 mb-3 card pretty_container " style="width:100%;">
      <h5 class = "subtitle mt-3 mb-0"> &nbsp;Comparison of TCI Publications per Year </h5>
        
        {{ line_tci | safe }}
      
    </div>
  </div>
</div>


{% endblock content %}

{% block js %}


{% endblock js %}
