{% extends 'importDB/base_2.html' %}
{% load static %}
{% block content %}
{% load plotly_dash %}
{% load humanize %}


    <!-- Content Row -->
    <div class="container-fluid m-3">
        <div class = "row">
            <div class="col" > 
                <h4 class="subtitle">&nbsp; {{source}} ในปี {{year}}</u></h4><br> 
            </div>
        </div>
        <div class = "row">
            <div class = "col-sm-12">
                <table id = "table_id1" class = " table display" border = '2' align="center" style="width:100%" >
                    <thead>
                      <tr bgcolor="#1E4DC2" class = "reservation_fontcolor " style = "text-align: center;">
                          <!-- <th scope="col" style="width:7%;">#id</th> -->
                          <th scope="col" style="width:5%;">#</th>
                          <th scope="col" style="width:20%;">วิทยาเขต</th>
                          <th scope="col" style="width:30%;">คณะ/สำนัก/สถาบัน</th>
                          <th scope="col" style="width:20%;">จำนวนเงิน</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for row in a_table.itertuples %}
                        
                        {% if check %}
                        <tr>
                            <TD class ="c3" align="center">{{forloop.counter}}</TD>
                            <TD class ="c3" align="left">{{row.camp_name_thai}}</TD>
                            <TD class ="c3" align="left">{{row.fac_name_thai}}</TD>
                            <TD class ="c3" align="right">{{row.sum_final_budget}}</TD>
                        </tr> 
                        {% else %}
                        <tr> 
                            <TD class ="c3" align="center">{{forloop.counter}}</TD>
                            <TD class ="c3" align="left">{{row.0.0}}</TD>
                            <TD class ="c3" align="left">{{row.0.1}}</TD>
                            <TD class ="c3" align="right">{{row.final_budget| floatformat:2|intcomma}}</TD>
                        </tr>
                        {% endif %}

                      {% endfor %} 
                    </tbody>
                  </table>
              </div>
        </div>
    </div>



{% endblock content %}

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.js"></script>

<script>
    $(document).ready(function(){
        
        $('#table_id1').DataTable({
            dom: 'B<"clear">lfrtip',
            buttons: {
                name:'primary',
                // buttons: ['copy','csv','excel','pdf']
                buttons: ['copy','csv','excel']
            },
            // "order": [[ 1, "desc" ]],
            "pageLength": 25
            
        });
    });

</script>

{% endblock js %}
