{% extends 'importDB/base.html' %}
{% load static %}
{% block content %}
{% load plotly_dash %}
{% load humanize %}


    <!-- Content Row -->
    <div class="container-fluid">

        <!-- Page Heading -->

        <div class="row ">
            <div class=" col-lg-8 mb-3 card">
                <div class="card-header bgcolor-table-head ">
                    <form name='filter' method=POST>
                        {% csrf_token %}
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal"> <b>รายได้จากงานวิจัย | year : </b>
                            <!-- <select class="browser-default custom-select" id="year" name = "year" onChange="filter.submit();"> -->
                            <select id="year" name = "year" onChange="filter.submit();">
                                {% for y in year  %}
                                    {% if y == filter_year%} 
                                        <option value="{{ y }}" selected>{{ y }} </option>
                                    {% else %}
                                        <option value="{{ y }}" >{{ y }} </option>
                                    {%endif%}
                                {% endfor %}
                            </select>
                            <b> Last Update: 14/4/2563 </b>
                        </div>
                    </form>
                    <!-- <form name='test' method=POST>
                        {% csrf_token %} -->
                        <!-- <button name="onclick" onclick="updateArticleDisplayResult('Prince Of Songkla University')">Click me</button> -->
                    <!-- </form> -->
                </div>
                <!-- <table id ="table_id1"class=" table col-sm-4 table-responsive table-borderless display responsive nowrap table-hover table-striped align-middle text-truncate mb-0"> -->
                <table id = "table_id1" class = " table bgcolor-table-head table-borderless display  nowrap table-hover table-striped align-middle mb-0" align="center" style="width:100%;" >
                    <thead>
                        <tr bgcolor="#1E4DC2" class = "reservation_fontcolor ">
                            <th class="text-center ">#</th>
                            <th class="text-center ">Budget Types</th>
                            <th class="text-center ">Budget Amount</th>
                            <th class="text-center ">Percentages</th>
                            <th class="text-center ">Graphs</th>
                            <th class="text-center ">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- <td class="text-center text-muted" style="width: 50px; vertical-align: center; background-color: #4CAF50; " >#01</td> -->
                            <td class="text-center text-muted" style="width: 50px;" id = "vertical-align-center" >#01</td>
                            <td class="text-left" ><b>เงินงบประมาณแผ่นดิน</b></td>
                            <td class="text-left" >
                                <span class="pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                    {{budget.Goverment| floatformat:2|intcomma }}     
                            </td>
                            <td class="text-center" style="width: 200px;">
                                <div class="widget-content p-0">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left pr-2">
                                                <div class="widget-numbers fsize-1 text-info">
                                                    
                                                        {{percentage.Goverment| floatformat:2|intcomma}}  %
                                                    
                                                </div>
                                            </div>
                                            <div class="widget-content-right w-100">
                                                <div class="progress-bar-xs progress">  
                                                    <div id = 'progressBar01' aria-valuemax="100" aria-valuemin="0"  aria-valuenow=""   
                                                        class="progress-bar bg-primary" role="progressbar" style="width: 0%;" >
                                                        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
                                                        {% for a in width.Goverment %}
                                                        <script> $("#progressBar01").css("width",'{{a}}'); </script>
                                                        {% endfor %}
                                                    </div>           
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <!-- กราฟ1 -->
                            <td class="text-center">
                                <div class="card mb-3 border-primary " style="height: 60px; width: 140px;">
                                    <div class="col-md-12 clearfix box-hover">
                                        <a href = '{% url "revenues-graph-page" value="Goverment"%}' target="_blank"> 
                                            <img src="{% static 'img/fig_Goverment1.png' %}" alt="fig_Goverment" >
                                        </a>
                                    </div>
                                </div>
                            </td>

                            <td class="text-center">
                                <form action="show_table" target="_blank" method=POST>
                                    {% csrf_token %}
                                    <input  name = {{filter_year}}/Goverment type="submit" value="View" class="btn-shadow btn btn-primary" style="width:70px"/>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-muted" style="width: 80px;">#02</td>
                                <td class="text-left"><b>เงินรายได้มหาวิทยาลัย</b></td>
                                <td class="text-left" >
                                    <span class="pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                    {{budget.Revenue| floatformat:2|intcomma }}     
                                </td>
                                <td class="text-center" style="width: 200px;">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-outer">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left pr-2">
                                                    <div class="widget-numbers fsize-1 text-info">
                                                            {{percentage.Revenue| floatformat:2}}  %
                                                    </div>
                                                </div>
                                                <div class="widget-content-right w-100">
                                                    <div class="progress-bar-xs progress">  
                                                        <div id = 'progressBar02' aria-valuemax="100" aria-valuemin="0"  aria-valuenow=""   
                                                            class="progress-bar bg-primary" role="progressbar" style="width: 0%;" >
                                                            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
                                                            {% for a in width.Revenue %}
                                                            <script> $("#progressBar02").css("width",'{{a}}'); </script>
                                                            {% endfor %}
                                                        </div>           
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                
                                <!-- กราฟ2 -->
                                <td class="text-center " >
                                    <!-- <div class="card mb-3 widget-chart widget-chart2  card-btm-border card-shadow-primary border-primary " style="height: 60px;"> -->
                                    <div class="card mb-3 border-primary " style="height: 60px; width: 140px;">
                                        <div class="col-md-12 clearfix box-hover">
                                            <a href = '{% url "revenues-graph-page" value="Revenue"%}' target="_blank"> 
                                                <img src="{% static 'img/fig_Revenue1.png' %}" alt="fig_Revenue">
                                            </a>
                                        </div>
                                    </div>
                                </td>

                                <td class="text-center">
                                    <form action="show_table" target="_blank" method=POST>
                                        {% csrf_token %}
                                        <input  name = {{filter_year}}/Revenue type="submit" value="View" class="btn-shadow btn btn-primary" style="width:70px"/>
                                    </form>
                                </td>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-muted" style="width: 80px;">#03</td>
                            <td class="text-left"><b>เงินรายได้วิทยาเขต</b></td>
                            <td class="text-left" >
                                <span class="pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                {{budget.Campus| floatformat:2|intcomma }}     
                            </td>
                            <td class="text-center" style="width: 200px;">
                                <div class="widget-content p-0">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left pr-2">
                                                <div class="widget-numbers fsize-1 text-info">
                                                    
                                                        {{percentage.Campus| floatformat:2}}  %
                                                    
                                                </div>
                                            </div>
                                            <div class="widget-content-right w-100">
                                                <div class="progress-bar-xs progress">  
                                                    <div id = 'progressBar03' aria-valuemax="100" aria-valuemin="0"  aria-valuenow=""   
                                                        class="progress-bar bg-primary" role="progressbar" style="width: 0%;" >
                                                        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
                                                        {% for a in width.Campus %}
                                                        <script> $("#progressBar03").css("width",'{{a}}'); </script>
                                                        {% endfor %}
                                                    </div>           
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- กราฟ3 -->
                            <td class="text-center">
                                <div class="card mb-3 border-primary " style="height: 60px; width: 140px;">
                                    <div class="col-md-12 clearfix box-hover">
                                        <a href = '{% url "revenues-graph-page" value="Campus" %}' target="_blank"> 
                                            <img src="{% static 'img/fig_Campus1.png' %}" alt="fig_Campus">
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <form action="show_table" target="_blank" method=POST>
                                    {% csrf_token %}
                                    <input  name = {{filter_year}}/Campus type="submit" value="View" class="btn-shadow btn btn-primary" style="width:70px"/>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-muted" style="width: 80px;">#04</td>
                            <td class="text-left"><b>เงินรายได้คณะ/หน่วยงาน</b></td>
                            <td class="text-left" >
                                <span class="pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                {{budget.Department| floatformat:2|intcomma }}     
                            </td>
                            <td class="text-center" style="width: 200px;">
                                <div class="widget-content p-0">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left pr-2">
                                                <div class="widget-numbers fsize-1 text-info">
                                                    
                                                        {{percentage.Department| floatformat:2}}  %
                                                    
                                                </div>
                                                <div class="widget-content-right w-100">
                                                    <div class="progress-bar-xs progress">  
                                                        <div id = 'progressBar04' aria-valuemax="100" aria-valuemin="0"  aria-valuenow=""   
                                                            class="progress-bar bg-primary" role="progressbar" style="width: 0%;" >
                                                            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
                                                            {% for a in width.Department %}
                                                            <script> $("#progressBar04").css("width",'{{a}}'); </script>
                                                            {% endfor %}
                                                        </div>           
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- กราฟ4 -->
                            <td class="text-center">
                                <div class="card mb-3 border-primary " style="height: 60px; width: 140px;">
                                    <div class="col-md-12 clearfix box-hover">
                                        <a href = '{% url "revenues-graph-page" value="Department"%}' target="_blank"> 
                                            <img src="{% static 'img/fig_Department1.png' %}" alt="fig_Department">
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <form action="show_table" target="_blank" method=POST>
                                    {% csrf_token %}
                                    <input  name = {{filter_year}}/Department type="submit" value="View" class="btn-shadow btn btn-primary" style="width:70px"/>
                                </form>
                            </td>
                        </tr>
                        
                        <tr id="row_national" onClick="toggle();" class="widget-ch2 widget-ch2-hover br-br">
                            <td class="text-center text-muted" style="width: 80px;">#05</td>
                            <td class="text-left"><b>เงินทุนภายนอก (ในประเทศ)</b></td>
                            <td class="text-left" >
                                <span class="pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                {{budget.National| floatformat:2|intcomma }}     
                            </td>
                            <td class="text-center" style="width: 200px;">
                                <div class="widget-content p-0">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left pr-2">
                                                <div class="widget-numbers fsize-1 text-info">
                                                        {{percentage.National| floatformat:2}}  %
                                                </div>
                                            </div>
                                            <div class="widget-content-right w-100">
                                                <div class="progress-bar-xs progress">  
                                                    <div id = 'progressBar05' aria-valuemax="100" aria-valuemin="0"  aria-valuenow=""   
                                                        class="progress-bar bg-primary" role="progressbar" style="width: 0%;" >
                                                        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
                                                        {% for a in width.National %}
                                                            <script> $("#progressBar05").css("width",'{{a}}'); </script>
                                                        {% endfor %}
                                                    </div>           
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- กราฟ5 -->
                            <td class="text-center">
                                <div class="card mb-3 border-primary " style="height: 60px; width: 140px;">
                                    <div class="col-md-12 clearfix box-hover">
                                        <a href = '{% url "revenues-graph-page" value="National"%}' target="_blank"> 
                                            <img src="{% static 'img/fig_National1.png' %}" alt="fig_National">
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <form action="show_table" target="_blank" method=POST>
                                    {% csrf_token %}
                                    <input  name = {{filter_year}}/National type="submit" value="View" class="btn-shadow btn btn-primary" style="width:70px"/>
                                </form>
                            </td>
                        </tr>
                        <tr id="hidethis" style="display:none; background-color: #D4FBFF;">
                            <!-- ตารางย่อย หน่วยงานภาครัฐ -->
                            <td></td>
                            <td class="text-left text-muted" style="width: 80px;"># รายได้จากหน่วยงานภาครัฐ</td>
                            <td class="text-left" >
                                <span class="pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                {{national.Governmentagencies| floatformat:2|intcomma  }}     
                            </td>
                            <td class="text-center" style="width: 200px;">
                                <div class="widget-content p-0">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left pr-2">
                                                <div class="widget-numbers fsize-1 text-info">
                                                    
                                                    {{national.nper}}%     
                                                    
                                                </div>
                                            </div>
                                            <div class="widget-content-right w-100">
                                                <div class="progress-bar-xs progress">  
                                                    <div id = 'progressBar0501' aria-valuemax="100" aria-valuemin="0"  aria-valuenow=""   
                                                        class="progress-bar bg-primary" role="progressbar" style="width: 0%;" >
                                                        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
                                                        <!-- {% for a in width.National %} -->
                                                            <script> $("#progressBar0501").css("width",'{{national.wnper}}'); </script>
                                                        <!-- {% endfor %} -->
                                                    </div>           
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="card mb-3 border-primary " style="height: 60px; width: 140px;">
                                    <div class="col-md-12 clearfix box-hover">
                                        <a href = '{% url "revenues-graph-page" value="Governmentagencies"%}' target="_blank"> 
                                            <img src="{% static 'img/fig_Governmentagencies1.png' %}" alt="fig_Governmentagencies">
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <form action="show_table" target="_blank" method=POST>
                                    {% csrf_token %}
                                    <input  name = {{filter_year}}/Governmentagencies type="submit" value="View" class="btn-shadow btn btn-primary" style="width:70px"/>
                                </form>
                            </td>
                        </tr>
                        <tr id="hidethis2" style="display:none; background-color: #D4FBFF;" >
                            <!-- ตารางย่อย รายได้จากหน่วยงานภาคเอกชน -->
                            <td></td>
                            <td class="text-left text-muted" style="width: 80px;"># รายได้จากหน่วยงานภาคเอกชน</td>
                            <td class="text-left" >
                                <span class="pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                {{national.Privatecompany| floatformat:2|intcomma  }}       
                            </td>
                            <td class="text-center" style="width: 200px;">
                                <div class="widget-content p-0">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left pr-2">
                                                <div class="widget-numbers fsize-1 text-info">
                                                    {{national.pper}}%    
                                                </div>
                                            </div>
                                            <div class="widget-content-right w-100">
                                                <div class="progress-bar-xs progress">  
                                                    <div id = 'progressBar0502' aria-valuemax="100" aria-valuemin="0"  aria-valuenow=""   
                                                        class="progress-bar bg-primary" role="progressbar" style="width: 0%;" >
                                                        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
                                                        <!-- {% for a in width.National %} -->
                                                            <script> $("#progressBar0502").css("width",'{{national.wpper}}'); </script>
                                                        <!-- {% endfor %} -->
                                                    </div>           
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="card mb-3 border-primary " style="height: 60px; width: 140px; ">
                                    <div class="col-md-12 clearfix box-hover">
                                        <a href = '{% url "revenues-graph-page" value="Privatecompany"%}' target="_blank">
                                            <img src="{% static 'img/fig_Privatecompany1.png' %}" alt="fig_Privatecompany">
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <form action="show_table" target="_blank" method=POST>
                                    {% csrf_token %}
                                    <input  name = {{filter_year}}/Privatecompany type="submit" value="View" class="btn-shadow btn btn-primary" style="width:70px"/>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-muted" style="width: 80px;">#06</td>
                            <td class="text-left"><b>เงินทุนภายนอก (ต่างประเทศ)</b></td>
                            <td class="text-left" >
                                <span class="pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                {{budget.International| floatformat:2|intcomma }}     
                            </td>
                            <td class="text-center" style="width: 200px;">
                                <div class="widget-content p-0">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left pr-2">
                                                <div class="widget-numbers fsize-1 text-info">
                                                    
                                                        {{percentage.International| floatformat:2}}  %
                                                    
                                                </div>
                                            </div>
                                            <div class="widget-content-right w-100">
                                                <div class="progress-bar-xs progress">  
                                                    <div id = 'progressBar06' aria-valuemax="100" aria-valuemin="0"  aria-valuenow=""   
                                                        class="progress-bar bg-primary" role="progressbar" style="width: 0%;" >
                                                        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
                                                        {% for a in width.International %}
                                                            <script> $("#progressBar06").css("width",'{{a}}'); </script>
                                                        {% endfor %}
                                                    </div>           
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- กราฟ6 -->
                            <td>
                                <div class="card mb-3 border-primary " style="height: 60px; width: 140px;">
                                    <div class="col-md-12 clearfix box-hover">
                                        <a href = '{% url "revenues-graph-page" value="International"%}' target="_blank">
                                            <img src="{% static 'img/fig_International1.png' %}" alt="fig_International" >
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <form action="show_table" target="_blank" method=POST>
                                    {% csrf_token %}
                                    <input  name = {{filter_year}}/International type="submit" value="View" class="btn-shadow btn btn-primary" style="width:70px"/>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-muted" style="width: 80px;">#07</td>
                            <td class="text-left"><b>เงินทุนร่วม</b></td>
                            <td class="text-left" >
                                <span class="pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                {{budget.Matching_fund| floatformat:2|intcomma }}     
                            </td>
                            <td class="text-center" style="width: 200px;">
                                <div class="widget-content p-0">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left pr-2">
                                                <div class="widget-numbers fsize-1 text-info">
                                                    
                                                        {{percentage.Matching_fund| floatformat:2}}  %
                                                    
                                                </div>
                                            </div>
                                            <div class="widget-content-right w-100">
                                                <div class="progress-bar-xs progress">  
                                                    <div id = 'progressBar07' aria-valuemax="100" aria-valuemin="0"  aria-valuenow=""   
                                                        class="progress-bar bg-primary" role="progressbar" style="width: 0%;" >
                                                        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
                                                        {% for a in width.Matching_fund %}
                                                        <script> $("#progressBar07").css("width",'{{a}}'); </script>
                                                        {% endfor %}
                                                    </div>           
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            
                                <!-- กราฟ7 -->
                            <td class="text-center">
                                <div class="card mb-3 border-primary " style="height: 60px; width: 140px;">
                                    <div class="col-md-12 clearfix box-hover">
                                        <a href = '{% url "revenues-graph-page" value="Matching_fund"%}' target="_blank">
                                            <img src="{% static 'img/fig_Matching_fund1.png' %}" alt="fig_Matching_fund">
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <form action="show_table" target="_blank" method=POST>
                                    {% csrf_token %}
                                    <input  name = {{filter_year}}/Matching_fund type="submit" value="View" class="btn-shadow btn btn-primary" style="width:70px"/>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=" col-lg-4 mb-3 card">
                <div class= "row">
                    <div class="card-header bgcolor-table-head" style="width:100%;" >
                        <b>Budget Amount |</b> <b style="color:blue">Year : {{filter_year}} </b>
                    </div>
                </div>
                <div class= "row"></div>
                <div class= "row mb-0">
                    <div class="card-body " style="width:100%;">
                        {{ graph1 | safe }}
                    </div>
                </div>
                <div class= "row mb-2"  >
                    <div class="card col-xs-12 mx-3 widget-content shadow bgcolor-blueshade1" style="width:100%;">
                        <div class="card-body py-1">
                            <div class= "row  " >
                                <div class="col ">
                                    <div class="h6 mb-0 widget-content-left font-weight-bold text-gray-800"> วิทยาเขตหาดใหญ่</div>   
                                </div>
                                <div class="col ">
                                    <div class="h6 mb-0 widget-content-right font-weight-bold text-gray-800" align="right" >{{campus.4| floatformat:2|intcomma }} บาท</div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class= "row mb-2"  >
                    <div class="card col-xs-12 mx-3 widget-content shadow bgcolor-blueshade2" style="width:100%;">
                        <div class="card-body py-1">
                            <div class= "row  " >
                                <div class="col ">
                                    <div class="h6 mb-0 widget-content-left font-weight-bold text-gray-800"> วิทยาเขตปัตตานี</div>   
                                </div>
                                <div class="col ">
                                    <div class="h6 mb-0 widget-content-right font-weight-bold text-gray-800" align="right" >{{campus.1| floatformat:2|intcomma }} บาท</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class= "row mb-2"  >
                    <div class="card col-xs-12 mx-3 widget-content shadow bgcolor-blueshade3" style="width:100%;">
                        <div class="card-body py-1">
                            <div class= "row  " >
                                <div class="col ">
                                    <div class="h6 mb-0 widget-content-left font-weight-bold text-gray-800"> วิทยาเขตภูเก็ต</div>   
                                </div>
                                <div class="col ">
                                    <div class="h6 mb-0 widget-content-right font-weight-bold text-gray-800" align="right" >{{campus.2| floatformat:2|intcomma }} บาท</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class= "row mb-2"  >
                    <div class="card col-xs-12 mx-3 widget-content shadow bgcolor-blueshade4" style="width:100%;">
                        <div class="card-body py-1">
                            <div class= "row  " >
                                <div class="col ">
                                    <div class="h6 mb-0 widget-content-left font-weight-bold text-gray-800"> วิทยาเขตสุราษฎร์ฯ</div>   
                                </div>
                                <div class="col ">
                                    <div class="h6 mb-0 widget-content-right font-weight-bold text-gray-800" align="right" >{{campus.3| floatformat:2|intcomma }} บาท</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class= "row mb-2"  >
                    <div class="card col-xs-12 mx-3 widget-content shadow bgcolor-blueshade5" style="width:100%;">
                        <div class="card-body py-1">
                            <div class= "row  " >
                                <div class="col ">
                                    <div class="h6 mb-0 widget-content-left font-weight-bold text-gray-800"> วิทยาเขตตรัง</div>   
                                </div>
                                <div class="col ">
                                    <div class="h6 mb-0 widget-content-right font-weight-bold text-gray-800" align="right" >{{campus.0| floatformat:2|intcomma }} บาท</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.css"/>

<!-- display responsive table -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.js"></script>

<script>
    $(document).ready( function () {
        $('#table_id1').DataTable({
            responsive: true,
            searching: false,
            paging: false,
            ordering: false,
            // pageLength: 10,
            lengthChange: false,
            language: {
                zeroRecords: "",
                info: "",
                infoEmpty: "",
                infoFiltered: ""}
        });
        
        $('#table_id5').DataTable({
            dom: 'B<"clear">lfrtip',
            buttons: {
                name:'primary',
                // buttons: ['copy','csv','excel','pdf']
                buttons: ['copy','csv','excel']
            },
            "order": [[ 3, "desc" ]],
            "pageLength": 25
                
         });
      
    } );


</script>
{% endblock js %}
